h2{
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}

#blond-text{
    color: #FAA39A;
}

#channel-orange-text{
    color: #FF7302;
}

#endless-text{
    color: #BDBDBD;
}

body{
    background-color: #57595D;
}

ul{
    color: white;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
}

@media (min-width: 900px){
    .row{
        display: flex;
    }
}

.row{
    flex-wrap: wrap;
}

.album-container{
    flex: 1;
    margin-top: 10px;
}

.album-container:hover{
    animation-name: scale-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

@keyframes scale-up {
    100%{
        transform: scale(1.05);
    }
}
